@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@700&family=Kalam:wght@300&family=Poppins:wght@300&family=Roboto:wght@700&family=Varela+Round&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #fff;
  background-image: url("./istockphoto-1313837017-612x612.jpg");
}

.container {
  margin: 10%;
}

.headline {
  margin: 5% 0;
  font-size: 50px;
  font-weight: bold;
  color: saddlebrown;
}

.scoreline {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.scoresheet {
  width: 40%;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.addscores {
  display: flex;
  flex-direction: column;
}

.recentScore {
  padding: 0 30px;
  font-size: 40px;
}

.addscore-text {
  font-size: 40px;
}

input {
  padding: 10px;
  margin: 3% 0;
}

.btn-submit {
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-self: flex-end;
}

.btn-submit:hover {
  cursor: pointer;
  padding: 7px;
}

table {
  width: 90%;
  border: 1px solid black;
  margin-left: 10%;
  margin-top: 10%;
}

tbody {
  display: flex;
  flex-direction: column;
}

td {
  font-size: 20px;
}

.refresh {
  padding: 5px;
  box-sizing: border-box;
  height: 10%;
  margin-top: 10px;
}

.refresh:hover {
  cursor: pointer;
  padding: 8px;
}

tr td {
  padding: 10%;
  font-family: "poppin", sans-serif;
}

tr:nth-child(even) {
  background-color: #ddd;
}

tr:hover {
  background-color: aquamarine;
}

.hidden {
  display: none;
}

.error,
.success {
  margin-top: 1rem;
  font-size: 20px;
}

.error {
  color: #d8000c;
  background-color: #ffd2d2;
}

.success {
  color: #4f8a10;
  background-color: #dff2bf;
}
